* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
body {
	background: #505050;
}
.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}
#accordion {
	width: 600px;
	display: inline-block;
}
#accordion li {
	list-style: none;
	width: 100%;
	background: #fff;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 5px;
}
#accordion li label {
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	font-size: 18px;
	font-weight: 700;
	cursor: pointer;
	color: #c20000;
}

#accordion li label .row {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

#accordion li label .arrow {
	font-size: 22px;
	color: #333;
	transition: 500ms all;
}
#accordion input[type="radio"] {
	display: none;
}
#accordion li label .content {
	padding: 0 10px;
	max-height: 0;
	overflow: hidden;
	transition: 0.7s all;
}
#accordion li label .content img {
	width: 50%;
	height: 50%;
	display: block;
	margin: 0 auto;
	transition: 0.7s all;
	transform: rotate(-90deg);
}
#accordion input[type="radio"]:checked + label > .content {
	max-height: 600px;
}

#accordion input[type="radio"]:checked + label > .arrow {
	transform: rotate(90deg);
}

#accordion input[type="radio"]:checked + label > .row > .arrow {
	transform: rotate(90deg);
}

#accordion input[type="radio"]:checked + label > .content > img {
	transform: rotate(0deg);
}

#accordion li:hover > label > .content {
	max-height: 600px;
}

#accordion
	li:hover
	> input[type="radio"]:not(:checked)
	+ label
	> .content
	> img {
	transform: rotate(0deg);
}

#accordion li:hover > label > .row > .arrow {
	transform: rotate(90deg);
}
